h1{
    text-align: center;
}
table{
    margin: 0 auto;
    border-collapse: collapse;
}
table td{
    border: 2px solid black;
    width:50px;
}
tr:hover {background-color: green;
color: pink;}
tr:nth-child(even) {background-color: goldenrod;}

body{
    background-color: orangered;
}